header {
  width: 1140px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 50px;
  align-items: center;
}
header .logo {
  font-weight: bold;
}
header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header nav li {
  display: inline-block;
  cursor: pointer;
}

header nav li a {
  margin-left: 30px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  cursor: pointer;
}
